main{
    
    min-height: 100vh;

}


section{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    
  }
  
  .posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    
    gap: 30px;
   
  }