


button{
    width: 80px;
    height: 50px;
    background-color: rgb(109, 35, 35);
    border-radius: 5px;
    color:white;
    cursor: pointer;
}

button:disabled{
    width: 80px;
    height: 50px;
    background-color: rgb(189, 187, 187);
    border-radius: 5px;
    color:white;
    cursor: not-allowed;
}