*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display:flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 20px;
}

.search-text{
  margin-bottom: 5px;
}

